<h1>All Events</h1>

<h2>Upcoming Events</h2>
<% if @events.future.any? %>
  <ul>
    <% @events.future.each do |event| %>
      <li>
        <strong><%= link_to(event.name, event_path(event)) %></strong>
        | hosted by: <%= link_to(event.host.name, user_path(event.host)) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No past events found.</p>
<% end %>

<h2>Past Events</h2>
<% if @events.past.any? %>
  <ul>
    <% @events.past.each do |event| %>
      <li>
        <strong><%= link_to(event.name, event_path(event)) %></strong>
        | hosted by: <%= link_to(event.host.name, user_path(event.host)) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No past events found.</p>
<% end %>

<p>
  <%= link_to "Create New Event", new_event_path, class: "btn" %>
</p>
